body{
    padding: 0;
    margin: 0;
}

#main-title{
    display: flex;
    height: 2rem;

    justify-content: space-between;
    align-items: center;

    padding: 0.5rem;

    background-color: #009999;

    button{
        transition: all 0.3s ease-in-out;

        background-image: url(../images/Quit.png);
        background-size: contain;

        min-width: 2rem;
        min-height: 2rem;

        border: none;
        border-radius: 0.3rem;

        background-color: transparent;

        cursor: pointer;
    }
    button:hover {
        background-color: rgb(235, 187, 125);
    }

    h1{
        margin: 0;
        padding: 0;
        font-family: "Bungee Tint", serif;
    }
}

#cartDetails {
    justify-self: center;
    margin-top: 3rem;

    border-radius: 10px;
    background-color: aquamarine;
    padding: 1rem;

    table-layout: auto;

    table{
        /*border-collapse: collapse; /* Rimuove gli spazi tra le celle 
        border-spacing: 0; /* Assicura che non ci sia spazio tra le celle */
        
        thead{
            background-color: #009999;
            font-size: 1.2rem;
            th{
                padding: 1rem;
                font-family: 'Domine', serif;
            }
        }
        tbody{
            background-color: antiquewhite;

            *{
                border: 1px solid rgba(0, 0, 0, 0.121);
                text-align: right;
            }

            .leftAlign{
                text-align: left !important;
            }

            th, td{
                padding: 0.3rem;
            }
        }
        tfoot{
            font-weight: 900;
            font-size: 1rem;
        }
    }
}

#checkout{
    display: flex;
    position: fixed;
    bottom: 5rem;

    width: 100%;

    justify-content: center; 
    align-items: center; 

    padding: 0; 
    margin-top: 1rem;
    height: 3rem;

    background-color: #009999;

    text-decoration: none;

    button{
        transition: all 0.5s ease-in-out;

        width: 50%;
        height: 2rem;

        font-family: 'Domine', sans-serif;
        font-size: 1rem;

        border: 1px solid #036b6b;
        border-radius: 0.3rem;
        box-shadow: 0.1rem 0.1rem 0.1rem rgb(255, 255, 255);

        cursor: pointer;
    }
    button:hover{
        position: relative;
        top: 0.1rem;
        left: 0.1rem;
        box-shadow: 0 0 0.15rem rgb(54, 52, 52);
    }

}

canvas {
  display: block;
  margin: auto;
  position:absolute;
  top:0px;
  right:0px;
  left:0px;
  bottom:0px;

  z-index: -1;
}

@media only screen and (min-width: 1024px) {
    #checkout{
        bottom: 0;
    }
}


@media only screen and (min-width: 1400px) {
    html{
        font-size: 28px ;
    }

}

@media only screen and (min-width: 2100px) {
    html{
        font-size: 32px ;
    }
}

@media only screen and (max-width: 570px) {
    html{
        font-size: 15px ;
    }
}

@media only screen and (max-width: 425px) {
    html{
        font-size: 12px ;
    }

}

@media only screen and (max-width: 370px) {
    html{
        font-size: 10px ;
    }

}