
html {
    font-size: 18px; /*Daniele ha detto che non si fa*/
}

body {
    padding: 0;
    margin: 0;
}

main{
    background-color: beige !important;
}

p, main, section{
    transition: all 0.7s ease-in-out ;
}

video{
    width: 25rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    object-fit:cover;
    border: 1px solid gold;
}

header{
    display: grid;

    grid-template-rows: 1fr;
    grid-template-columns: repeat(10,1fr);

    max-height: 7rem;

    justify-items: center;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;

    width: 100%;

    z-index: 1;

    background-color: rgb(255, 166, 0);
}

header.small{
    h1{
        font-size: 2.2rem !important;
    }
}

header button{
    grid-area: 1 / 1 / 2 / 2;

    width: 2rem;
    height: 2rem;

    background-image: url(../images/MenuIcon.png);
    background-size: cover;
    background-color: transparent;

    border: none;

    transition: all 0.5s ease-in-out;
}

header button:hover{
    width: 2.5rem;
    height: 2.5rem;

    cursor: pointer;
}

header h1{
    padding: 0;
    margin: 0;

    grid-area: 1 / 2 / 2 / 10;
    
    color:chocolate;

    text-shadow: 0.02rem 0.08rem 0.02rem rgb(142, 34, 34);

    text-align: center;

    font-family: "Domine", serif;
    font-size: 6rem;
    font-weight: 1000;

    transition: all 0.4s ease-in-out;

}

header h1.aside{
    grid-area: 1 / 4 / 2 / 10;
}


header h1:hover{
    animation: textShadow 3s ease;
}

@keyframes textShadow { /*Definizione sequenza di animazioni*/
    0% {
        text-shadow: 1px 1px 1px rgb(142, 34, 34);
    }
    20% {
        text-shadow: 10px 6px 1px rgb(82, 24, 24);
    }
    40% {
        text-shadow: 8px -2px 6px rgb(82, 24, 24);
    }
    60% {
        text-shadow: -8px 2px 2px rgb(82, 24, 24);
    }
    80% {
        text-shadow: -1px -4px 4px rgb(82, 24, 24);
    }
    100% {
        text-shadow: 1px px 1px rgb(142, 34, 34);;
    }
}

nav{
    background-color: beige;

    border-bottom: 1px solid gold;

    ul{
    padding: 0;
    margin: 0.3rem 0;
    width: 100%;

    list-style: none;

    display: inline-flex;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;
    }

    li{
        padding: 0.8rem;

        text-align: center;
        
        text-decoration: underline;
        text-decoration-color: rgba(82, 24, 24, 0.8);
        text-decoration-thickness: 0.15rem;

        transition: all 0.3s ease-in-out;
    }

    li:hover {
        text-decoration-color: beige;

    }

    a{
        text-decoration: none;
        font-size: 1.2rem;
        font-family: "Bungee Tint", serif;
    }
}

section{
    padding: 0;
    margin: 0;

    article{
        display: flex;
        justify-content: space-evenly;

        max-width: 100%;
        max-height: 60rem;

        border-top: 1px solid gold;

        img{
            padding: 0;
            margin: 0;
            width: 70%;
            height: auto;
            object-fit: cover;
        }

        p{
            overflow: hidden;

            width: 30%;
            padding: 0.5rem;
            margin: 0;

            font-family: "Roboto", sans-serif;
            font-weight: 400;

            justify-content: center;
            align-content: center;

            background-color: beige;
            color: rgb(117, 48, 14);

            span{
                font-size: 0.8rem;
                color: rgba(234, 83, 18, 0.242);
            }

        }
    }

    article.column{
        flex-direction: column;
        width: 100%;

        .inline-flex{
            display: inline-flex;
            flex-direction: row;
            justify-content: space-between;

            font-size: 0;

            width: 100%;

            img{
                width: 33%;
            }

        }
        
        p{
            width: 100%;
            height: 10rem;

            padding: 0;
            text-align: center;
        }
    }

}

.gallery-videos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    flex-wrap: wrap; /* Added to allow wrapping */

    gap: 1rem;

    padding: 0.5rem 0;
    margin: 0;

    background-color: beige;
}

section h2{
    position: sticky;

    left: 0;

    margin: 0;
    padding: 0 0.5rem 0 0.5rem;

    text-align: left;

    background-color: brown;
    color: beige;

    border-bottom: 1px solid gold;

    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

h2.aside {
    text-align: right;
}

footer {
    padding: 0;
    margin: 0;

    font-family: "Roboto", serif;
    

    h3{
    padding: 0 1rem;
    margin: 0;

    font-size: 2rem;
    font-weight: 700;
    color: beige;

    background-color: brown;
    }

    p{
        font-weight: 400;
        padding: 0.5rem 0;
        margin: 0;

        width: 100%;
        height: fit-content;

        background-color: beige;
        color: brown;

        text-align: center;

        a:link{
            color: rgb(150, 130, 17);
        }

        a:active{
            color: black;
            text-decoration: none;
        }
    }
}



.MapHeadContainer{
    display: inline-flex;
    flex-direction: row;

    width: 100%;
    overflow: hidden;

    justify-content: space-between;
    align-items: center;


    background-color: brown;

    border-bottom: 3px solid gold;

    h2{
        border: none;
    }

    button{
        border: none;

        text-align: center;
        text-justify: center;

        padding: 0;
        margin-right: 1rem;

        font-size: 1rem;
        font-weight: 900;

        height: 2rem;
        width: 2rem;

        background-color: beige;
        color: brown;

        transition: all 0.3s ease-in-out;
        cursor: pointer;

        border-radius: 5px;

    }
    button:active{
        background-color: rgb(218, 63, 63);
        color: beige;
        border: 1px solid beige;
    }
}

section#mapSection{
    font-size: 0;
    padding: 0;
    margin: 0;
}

#mappa{
    overflow: hidden;
    height: 0;
    transition: all 0.5s ease-in-out;
}

#mappa.visible{
    height: 25rem;
}

#mappa.hidden{
    height: 0px;
}

.side-nav{
    overflow: hidden;

    transition: all 0.2s ease-in-out;

    display: grid;

    position: fixed;

    z-index: 5;

    grid-template-rows: repeat(10, 2fr);
    grid-template-columns: 1fr;

    height: 100%;
    width: 20%;
    top: 0;
    left: 0; 

    background-color: rgba(238, 186, 74, 0.7);
    backdrop-filter: blur(10px);

    border-right: 1px solid gold;

    button{ 
        transition: all 0.2s ease-in-out;
        width: auto;

        max-width: 100%;
        height: 100%;

        color: bisque;
        background-color: rgb(189, 45, 45);

        border: none;
        border-bottom: 1px solid gold;

        font-size: 1rem;
        font-weight: 700;

        cursor: pointer;
    }
    button:hover{
        background-color: rgba(189, 45, 45, 0.7);
        color: gold;
    }

    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        
        list-style: none;

        padding: 0;
        margin: 0;

        grid-area: 2 / 1 / 10 / 1;

        li{
            transition: all 0.2s ease-in;

            justify-content: center;
            align-content: center;

            width: 100%;
            height: 100%;

            padding: 0;
            margin: 0;

            text-decoration: none;
        }

        a{
            transition: all 0.3s ease-out;
            height: 100%;
            width: 100%;

            font-family: "Domine";

            /*color: rgb(232, 70, 70);*/
            color: rgb(201, 42, 42);
            text-shadow: 1px 0 rgb(239, 189, 189);

            font-size: 1rem;
            font-weight: 900;
        }
        a:hover{
            background-color: chocolate;
            color: black;
            text-shadow: 0 1px 2px whitesmoke;
        }
    }

    p{
        grid-area: 10 / 1 / 11 /1;

        max-width: 100%;
        height: 100%;

        padding: 0.3rem;
        margin: 0;

        word-wrap: break-word;

        font-size: 0.7rem;
        font-style: italic;

        align-content: center;
        text-align: center;

        color: bisque;
        background-color: chocolate;
    }
    
}

.side-nav.visible{
    width: 20%;
    
}

.side-nav.hidden{
    width: 0;
    
}

#formContainer{
    padding: 0;
    margin: 0;
    
    height: 30rem;
    display: flex;

    justify-content: center;
    align-items: center;

    background-image: url(../images/Paesaggio.jpg);
    background-size: cover;
    background-position: center;


    form{
        display: flex;
        flex-direction: column;
        align-content: space-evenly;

        gap: 0.8rem;

        max-height: 100%;
        width: 70%;
        height: auto;

        justify-content: center;
        align-items: center;

        background-color: rgba(182, 179, 125, 0.6);
        backdrop-filter: blur(6px);
        /*offsetx offset y raggioSfuocatura Diffusione Colore*/
        box-shadow: 0 0 10px 1px beige;
        
        color: antiquewhite !important;

        border-radius: 1.5rem;

        padding: 1rem;
        
        section{
            padding: 0;
            margin: 0;

            width: 100%;

            display: flex;
            flex-direction: column;

            align-items: center;

            background-color: transparent !important;
           
        }

        h1{
            margin: 0;
            padding: 0;

            font-size: 2rem;
        }

        input, textarea{
            width: 50%;
            max-width: 98%;
            min-height: 1rem;
            max-height: 5rem;

            font-size: 0.8rem;
            
            margin: 0.2rem;

            border-radius: 4px;
            border: none;
        }



        #submitFeedback{
            width: 100%;

            font-size: 0.7rem;
            color: brown;
            font-weight: 800;

            border-radius: 10px;

            transition: all 0.3s ease-in-out;
            
        }

        #submitFeedback:hover{
            width: 100%;

            color: antiquewhite;
            background-color: brown;
            
        }

    }
 
}

.VariableGridContainer {

    h2{
        display: block;

        padding: 0;
        margin: 0;

        height: 2.5rem;
        font-size: 2rem;
        font-family: 'Roboto', serif;
        letter-spacing: 0.1rem;
        word-spacing: 0.5rem;
    
        text-align: center;
        align-content: center;
    
        background-color: blanchedalmond;
        color: brown;
    
        border-top: 1px solid gold;
        border-bottom: 1px solid gold;
    }
}

div.variableGrid {
    display: grid;
    grid-template-rows: 1.1fr;
    grid-auto-flow: column;
    grid-auto-columns: 20rem;

    background-image: url(../images/PaesaggioBello.jpg);

    background-size: cover;

    border-bottom: 1px solid gold;

    height: 19rem;

    padding: 1rem;

    gap: 1rem;

    overflow-x: auto;
    
    form.gridItem {
        display: flex;
        flex-direction: column;

        gap: 0.5rem;

        justify-content: space-evenly;
        align-items: center;
        
        background-color: rgba(214, 110, 36, 0.6);
        backdrop-filter: blur(5px);
        border-radius: 20px;
        
        padding: 1rem;

        input.itemTitle {
            width: 80%;
            height: 10%;

            padding: 0;
            margin: 0;

            border: 1px solid brown;

            border-radius: 10px;

            text-align: center;

            font-size: 1.2rem;
        }

        textarea.itemText {
            width: 95%;
            height: 40%;

            padding: 0.4rem;

            margin: 0;

            justify-content: center;

            border-radius: 10px;

            resize: none;

            font-size: 0.8rem;
            font-family: 'Roboto', sans-serif;

            border: 1px solid brown;

        }

        input.itemSubmit {
            transition: all 0.3s ease-in-out;

            width: 100%;
            height: 7%;

            padding: 0;
            margin: 0;

            border-radius: 7px;

            font-size: 1rem;

            border: 1px solid brown;

        }

        input.itemSubmit:active {
            background-color: brown;
            color: antiquewhite;
        }

        label {
            font-size: 1rem;
            font-family: 'Roboto', serif;
            color: antiquewhite; /* Specifica un colore valido */
        }
        
        select {
            font-size: 1rem;
            color: brown;
            width: 100%;
            height: 15%;
            
            border-radius: 10px;
        }
        
    }
}

#checkOutButton {
    transition: all 0.3s ease-in-out;

    width: 100%;
    padding: 0;
    margin: 0;
    height: 3rem;

    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;

    background-color: chocolate;
    color: gold;

    border: none;

    cursor: pointer;
}

#checkOutButton:disabled {
    background-color: rgb(194, 131, 86);
    color: antiquewhite;
}

@media only screen and (min-width: 1400px) {
    html{
        font-size: 28px ;
    }
}

@media only screen and (min-width: 2100px) {
    html{
        font-size: 32px ;
    }
}

@media only screen and (max-width: 700px) {
    header h1{
        font-size:  4rem;
    }

}

@media only screen and (max-width: 570px) {
    html{
        font-size: 15px ;
    }

    header h1:hover{
        background-color: rgb(255, 166, 0);
        color:chocolate;
    }

    nav li:hover {
        text-decoration-color: rgba(82, 24, 24, 0.8);
    }

    .side-nav button:hover{
        color: bisque;
        background-color: red;
    }

    .side-nav ul a:hover{
        background-color: inherit;
        color: rgb(232, 70, 70);
        text-shadow: none;
    }

    #submitFeedback:hover{

        color: brown;
        background-color: antiquewhite;

    }



}

@media only screen and (max-width: 425px) {
    html{
        font-size: 13px ;
    }

}






